.DS_Store
namespace App\Tests\Browser\Album;
/.idea/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
coverage.xml
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

tests/coverage
tests/last.html
tests/screen.png
tests/mutation/index.html

public/img/pokemons
resources/sprites
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
