networks:
  pokenini-local:
    external: true

services:
  php:
    networks:
      default: {}
      pokenini-local: {}

  web:
    networks:
      default: {}
      pokenini-local:
        aliases:
          - www.pokenini.local
