parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Security\\\\User\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: src/Security/User.php

		-
			message: "#^Parameter \\#1 \\$values of class App\\\\DTO\\\\ElectionMetrics constructor expects array\\<float\\|int\\>, array\\<string, int\\|string\\> given\\.$#"
			count: 7
			path: tests/src/Unit/DTO/ElectionMetricsTest.php
