includes:
	- tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
	- tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
	- tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	level: 9
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	symfony:
		containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
