.admin-item-report {
    font-size: .75rem;
}
.admin-item-report-meta {
    font-size: .75rem;
}

.admin-item-cta {
    text-decoration: none;
    color: inherit;
}
.admin-item-cta:hover {
    text-decoration: underline;
}

.report-table tr .toggle-icon.active-icon {
    display: inherit;
}
.report-table tr .toggle-icon.disable-icon {
    display: none;
}

.report-table tr.active .toggle-icon.active-icon {
    display: none;
}
.report-table tr.active .toggle-icon.disable-icon {
    display: inherit;
}