.album-case {
    padding: 0 2px;
}
.album-case-national-dex-number {
    font-size: .5rem;
}
.album-case-name {
    font-size: .6rem;
    font-weight: bold;
}
.album-case-catch-state {
    font-size: .7rem;
}
.album-case-forms {
    font-size: .6rem;
}
.album-case-action {
    font-size: .6rem;
    padding-bottom: .125rem;
}
.album-case-action select {
    width: 100%;
}
.album-image {
    max-width: 68px;
    max-height: 56px;
}
#report a {
    color: inherit;
    text-decoration: inherit;
}
.box h2 {
    background-color: white;
}

.row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.285714285714286%;
}
