.album-case {
    padding: 0 2px;
}
.album-case-dex-number {
    font-size: .5rem;
}
.album-case-name {
    font-size: .6rem;
    font-weight: bold;
}
.album-case-catch-state {
    font-size: .7rem;
}
.album-case-forms {
    font-size: .6rem;
}
.album-case-action {
    font-size: .6rem;
    padding-bottom: .125rem;
}
.album-case-action select {
    width: 100%;
}
.pokemon-icon {
    max-width: 68px;
    max-height: 56px;
    font-size: .3rem;
    color: rgba(0 0 0 / 0%);
}
a.album-case-catch-state-edit-action {
    color: inherit;
}
a.album-case-catch-state-edit-action:hover {
    color: black;
}

.album-modal-types {
    color: white;
}

.list-group-item .icon-link {
    align-items: inherit;
}

.modal-body .list-group {
    font-size: 0.85rem;
}
.modal-body .list-group .list-group-item {
    padding: 0.2rem;
}
.modal-body a.pokemon-icon {
    text-decoration: none;
    color: #aab7b8;
}
.modal-body a.pokemon-icon:hover {
    color: #408b91;
}
.modal-body a.pokemon-icon:hover .img-thumbnail {
    border-color: #408b91;
}
.modal-body a.pokemon-icon.active {
    text-decoration: underline;
    color: #212529;
}
.modal-body .active .img-thumbnail {
    border-color: #212529;
}

#report a {
    color: inherit;
    text-decoration: inherit;
}
.box .box-title {
    background-color: white;
}

.album-line.row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.285714285714286%;
}
.album-line.row-cols-7 .modal {
    width: 100%;
}

.d-flex[hidden] {
    display: none !important;
}

.list-group-horizontal > .list-group-item:first-child[hidden] + .list-group-item {
    border-bottom-left-radius: var(--bs-list-group-border-radius);
    border-top-left-radius: inherit;
    border-left-width: var(--bs-list-group-border-width);
}
