.container {
    padding-bottom: 10rem;
}
.album-case {
    padding: 0 2px;
}
.album-case-national-dex-number {
    font-size: .5rem;
}
.album-case-name {
    font-size: .6rem;
    font-weight: bold;
}
.album-case-catch-state {
    font-size: .7rem;
}
.album-case-forms {
    font-size: .6rem;
}
.album-case-action {
    font-size: .6rem;
}
.album-case-action select {
    max-width: 100%;
}

/** < Colors **/
.album-case.catch-state-no .album-case-catch-state {
    background-color: #e57373;
}
.album-case.catch-state-no .album-case-action {
    background-color: #e57373;
    background: linear-gradient(90deg, rgba(229,115,115,1) 0%, rgba(229,115,115,1) 35%, #FFFFFF 100%);
}
tr.catch-state-no td,
tr.catch-state-no th {
    background-color: #e57373;
}
.progress-bar.catch-state-no {
    background-color: #e57373;
}

.album-case.catch-state-toevolve .album-case-catch-state {
    background-color: #9575cd;
}
.album-case.catch-state-toevolve .album-case-action {
    background-color: #9575cd;
    background: linear-gradient(90deg, #9575cd 0%, #9575cd 35%, #FFFFFF 100%);
}
tr.catch-state-toevolve td,
tr.catch-state-toevolve th {
    background-color: #9575cd;
}
.progress-bar.catch-state-toevolve {
    background-color: #9575cd;
}

.album-case.catch-state-tobreed .album-case-catch-state {
    background-color: #4fc3f7;
}
.album-case.catch-state-tobreed .album-case-action {
    background-color: #4fc3f7;
    background: linear-gradient(90deg, #4fc3f7 0%, #4fc3f7 35%, #FFFFFF 100%);
}
tr.catch-state-tobreed td,
tr.catch-state-tobreed th {
    background-color: #4fc3f7;
}
.progress-bar.catch-state-tobreed {
    background-color: #4fc3f7;
}

.album-case.catch-state-totransfer .album-case-catch-state {
    background-color: #ffd54f;
}
.album-case.catch-state-totransfer .album-case-action {
    background-color: #ffd54f;
    background: linear-gradient(90deg, #ffd54f 0%, #ffd54f 35%, #FFFFFF 100%);
}
tr.catch-state-totransfer td,
tr.catch-state-totransfer th {
    background-color: #ffd54f;
}
.progress-bar.catch-state-totransfer {
    background-color: #ffd54f;
}

.album-case.catch-state-totrade .album-case-catch-state {
    background-color: #ff9100;
}
.album-case.catch-state-totrade .album-case-action {
    background-color: #ff9100;
    background: linear-gradient(90deg, #ff9100 0%, #ff9100 35%, #FFFFFF 100%);
}
tr.catch-state-totrade td,
tr.catch-state-totrade th {
    background-color: #ff9100;
}
.progress-bar.catch-state-totrade {
    background-color: #ff9100;
}

.album-case.catch-state-yes .album-case-catch-state {
    background-color: #66bb6a;
}
.album-case.catch-state-yes .album-case-action {
    background-color: #66bb6a;
    background: linear-gradient(90deg, #66bb6a 0%, #66bb6a 35%, #FFFFFF 100%);
}
tr.catch-state-yes td,
tr.catch-state-yes th {
    background-color: #66bb6a;
}
.progress-bar.catch-state-yes {
    background-color: #66bb6a;
}
/** > Colors **/

